/*text style*/ 
.display-5 {
  font-size: 40px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.display-4 {
  font-size: 36px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.display-3 {
  font-size: 32px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.display-2 {
  font-size: 28px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.display-1 {
  font-size: 24px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.headline {
  font-size: 20px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.subhead-3 {
  font-size: 16px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.subhead-long-3 {
  font-size: 16px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.subhead-2 {
  font-size: 14px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.subhead-long-2 {
  font-size: 14px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.head-3 {
  font-size: 16px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 500;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.head-2 {
  font-size: 14px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 500;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.head-1 {
  font-size: 12px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 500;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.body-1 {
  font-size: 14px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.body-long-1 {
  font-size: 14px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.caption-2 {
  font-size: 12px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}
.caption-1 {
  font-size: 10px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  letter-spacing: -0.30000001192092896px;
  line-height: 139.9999976158142%;
}

